body { margin:0; height:100vh; display:flex; align-items:center; justify-content: center;
    background:#f8f9fa; font-family:system-ui; }
.layout {
    max-width: 1920px;
    display: flex;
    align-items: center;
    gap: 20px;
    /*max-width: 1400px;*/
    width: 100%;
    padding: 0 30px;
  }
.card { background:white; border-radius:16px; padding:40px; box-shadow:0 10px 30px rgba(0,0,0,0.1); text-align:center; flex:1}
.side {
    width: 450px;
    height: auto;
    align-items: center;
    opacity: 0.9;
    filter: drop-shadow(0 0 20px rgba(100, 200, 255, 0.4));
  }
.time { font-size:25px; color:#333; font-weight:300; }

.values { display:grid; grid-template-columns:repeat(3,1fr); gap:30px; margin:30px 0; }
.box { background:#f1f3f5; border-radius:12px; padding:20px; }
.val { font-size:40px; font-weight:800; color:#2d3748; }
.label { font-size:18px; color:#718096; }
button { background:#4c51bf; color:white; border:none; padding:12px 32px; border-radius:50px; cursor:pointer; font-weight:600; }